<head>
  <title><%= title %></title>
  <script src="<%= d3js %>" charset="utf-8"></script>
  <style><%= style %></style>
</head>
<body>
<div id="diagram">
<%= body %>
</div>
<% if choices || descriptions %>
<div id="desc-wrap">
  <div id="desc">
    <div class="src-dest"></div>
    <div class="active"></div>
  </div>
<% if choices %>
  <div id="choices">
    <form>
    </form>
  </div>
<% end %>
</div>
<% end %>
<script>
<%= behavior %>
</script>
</body>
